/* place custom styles here */
body header .logo {
    margin-left: 20px !important;
}

body main {
    min-height: 600px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

    body header .col {
        text-align: center;
    }

    body header .logo {
        margin: 20px !important;
    }
}

body h1, body h2, body h3 {
    font-weight: bold;
}

body main ul li {
    margin-bottom: 7.5px;
}

body main ul li:last-child {
    margin-bottom: 0;
}

body .primary-button {
    display: inline-block;
    border: 2px solid #4AA0A2;
    padding: 15px 60px 15px 50px;
    text-decoration: none;
    border-radius: 50px;
    background: url(../resources/arrow.svg) no-repeat 90% 20px;
    background-size: 15px;
    color: #4AA0A2 !important;
    text-decoration: none;
}

body .primary-button:hover {
    background: #4AA0A2 url(../resources/arrow-white.svg) no-repeat 90% 20px;
    background-size: 15px;
    color: #fff !important;
    text-decoration: none;
}

body .section-divider {
    background-image: linear-gradient(-135deg, #2EBF91 0%, #8360C3 100%) !important;
}

body .title-block {
    background: var(--hero-background-color);
}

body .title-block .col {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 50px;
}

body .title-block .col * {
    color: #fff;
}

body .title-block .col p {
    margin: 35px 0;
}

body .title-block img {
    max-width: 350px;
    margin-bottom: 50px;
}

body .title-block h1 {
    font-weight: bold;
}

body .title-block .primary-button {
    margin-right: 15px;
    color: #fff !important;
}

body .top {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(-135deg, #2EBF91 0%, #8360C3 100%) !important;
}

/* lead */
body .lead-block {
    color: #fff;
    background-image: linear-gradient(-135deg, #2EBF91 0%, #8360C3 100%) !important;
}

body .lead-block a, body .lead-block a:visited, body .lead-block a:hover {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

body .lead-block * {
    color: #fff;
}

body .features-block .site-media-body p, body .features-block .site-media-body p:hover {
    font-size: 1em;
}

body .features-block .site-media-image img {
    top: 0;
    left: 25px;
    width: 50px;
}

/* video-block */
body .video-block .col {
    text-align: center;
}

body .video-block video {
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 0 auto;
    border: 20px solid rgba(255,255,255,0.25);
}

body:not([editor-active]) .video-block .col {
    transform: translateY(-150px);
    margin-bottom: -100px;
}